<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Add course</title>
  </head>
  <body>
    <h1>Lets create course!</h1>
    <br />
    <form method="POST">
      <input
        type="text"
        id="addCourseForm1"
        name="course_name"
        placeholder="Enter course name"
      />
      <br />
      <textarea
        cols="30"
        rows="7"
        id="addCourseForm2"
        name="course_descriprion"
        placeholder="Enter course decription"
        type="text"
      ></textarea>
      <br />
      <button type="submit">Submit!</button>
    </form>
    <br />
    <a href="/courses">Back</a>
  </body>
</html>
