<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Add task</title>
  </head>
  <body>
    <h1>Lets create task!</h1>
    <br />
    <form method="POST">
      <input
        type="text"
        id="addTaskForm1"
        name="task_name"
        placeholder="Enter task name"
      />
      <br />
      <textarea
        cols="30"
        rows="7"
        id="addTaskForm2"
        name="task_descriprion"
        placeholder="Enter task decription"
        type="text"
      ></textarea>
      <br />
      <button type="submit">Submit!</button>
    </form>
    <br />
    <a href="/tasks">Back</a>
  </body>
</html>
