<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Test mondo db</title>
  </head>
  <body>
    <h1>Welcome on page!</h1>
    <br />
    <a href="/tasks">Tasks</a>
    <br />
    <a href="/courses">Courses</a>
    <br />
    <a href="/statuses">Statuses</a>
  </body>
</html>
