.assign-user-board {
    .assign-dropdown {
        margin-top: 10px;
    }

    .assigned-list {
        margin-top: 10px;

        .assigned-item {
            height: 30px;
            padding: 5px;
            border: 1px solid #000000;
            border-top: none;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;

            &:first-child {
                border-top: 1px solid #000000;
            }
        }

        .course-link {
            text-decoration: none;
            font-weight: none;
            font-size: 16px;
            display: block;
            color: #000000;
            width: 180px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;

            &:hover,
            &:active {
                color: #ff0000;
            }

            &.unclickable {

                &:hover,
                &:active {
                    color: #000000;
                }
            }

        }

        .delete-button {
            font-weight: none;
            color: #BD5656;
            border: none;
            font-size: 15px;
            background-color: transparent;

            &:hover,
            &:active {
                color: #a00000;
                text-shadow: 0px 0px 1px #ff0000;
            }
        }
    }

    .assign-message {
        text-align: center;
        font-size: 20px;
        margin-top: 10px;
        color: #BD5656;
    }

    .title {
        text-align: center;
        font-size: 20px;
    }
}