.grades-panel {
    display: flex;
    flex-flow: row nowrap;
    overflow-x: auto;
    flex-grow: 1;
    margin: 0;

    .task-column {
        display: flex;
        flex-flow: column nowrap;
        max-width: 100px;
        min-width: 60px;

        &:first-child {
            border-left: solid #828486 1px;
        }

        .middle-cell {
            font-family: 'Times New Roman', Times, serif;
            height: 30px;
            border: solid #828486 1px;
            border-left: 0;
            padding: 5px;
            font-size: 14px;
            text-decoration: none;
            color: #4b1b00;

            &.edit {
                input {
                    text-align: center;
                    padding: 5px;
                    height: 17px;
                    border: 0;
                    outline: 0;
                    width: 45px;
                }
            }

        }

        .task-cell {
            padding-top: 8px;
            display: flex;
            flex-flow: row nowrap;

            .task-link {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                text-decoration: none;
                color: #059bff;
                font-family: 'Oswald';
                margin-right: 3px;

                &:hover {
                    color: #ff0000;
                }
            }
        }

        .user-grade-cell {
            border-top: 0;
            text-align: center;
            padding-top: 8px;
        }
    }

    .fake-column {
        display: flex;
        flex-flow: column nowrap;
        width: 100%;

        .fake-cell {
            height: 30px;
            width: 100%;
        }
    }
}