@import '../../../constants/application-colors.scss';

.add-course-block {
    margin: 10px auto 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    .add-course-button {
        padding: 5px 10px;
        height: 30px;
        background: $submit-btn-color;
        border: solid 1px #000000;
        font-family: Oswald;

        &:disabled {
            background: $submit-disabled-color;
        }
    }
}

.main-wrapper {
    margin: 10px auto 0;
    padding: 20px;
    border: solid 1px #d0d3d6;
    border-radius: 5px;
    width: 100%;
    background-color: #fbfdff;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);

    .filter {
        margin-bottom: 10px;
    }

    .link-wrapper {
        position: relative;
        margin: 0 auto;
        padding: 20px;
        border: solid 1px #828486;
        border-bottom: 0;
        background-color: #f7f7f7;
        &:last-child{
            border-bottom: solid 1px #828486;
        }
        .course-link {
            text-decoration: none;
            font-weight: bold;
            font-size: 20px;
            text-transform: uppercase;
            color: #000000;
            &:hover, &:active{
                color: #ff0000;
            }
        }
        .course-desc {
            padding: 10px 0;
            text-overflow: ellipsis;
            font-family: 'Montserrat';
            overflow: hidden;
            white-space: nowrap;
            width: 100%;
        }
        .delete-button {
            position: absolute;
            top: 15px;
            right: 15px;
            font-weight: none;
            color: #BD5656;
            border: none;
            font-size: 15px;
            background-color: #f7f7f7;

            &:hover,
            &:active {
                color: #a00000;
                text-shadow: 0px 0px 1px #ff0000;
            }
        }
    }
}