$header-color: #3cd8ff;
$header-hover-color: #06cdff;
$submit-btn-color: linear-gradient(to bottom, #bafcb8, #18fa10);
$submit-disabled-color: linear-gradient(to bottom, #dcfcda, #43f73c);
$cancel-btc-color: linear-gradient(to bottom, #b46161, #bd1c1c);
$cancel-disabled-color: linear-gradient(to bottom, #af7f7f, #c04141);
$white-color: #ffffff;
$black-color: #000000;
$red-color: #ff0000;
$danger-color: #bd1c1c;
$danger-disabled-color: #b86262;
$block-background: #f7f7f7;
$wrapper-background: #fbfdff;
$outer-border-color: #7c7c7c;
$inner-border-color: #5a5a5a;
$shadow-color: rgba(0,0,0,0.5);
$link-color: #58caff;
$link-hover-color: #3097c7;
