@import '../../../constants/application-colors.scss';

.approove-form {
    display: flex;
    flex-flow: column nowrap;
    padding: 0 10px 10px;

    .approove-text {
        text-justify: auto;
    }

    .approove-controlls {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
        .approove-decline, .approove-submit {
            border: solid 1px black;
        }

        .approove-decline {
            background: $cancel-btc-color;

            &:hover {
                background: $cancel-hover-color;
            }
        }

        .approove-submit {
            background: $submit-btn-color;
            margin-right: 10px;

            &:hover {
                background: $submit-hover-color;
            }
        }
    }

}