@import '../../../constants/application-colors.scss';


.add-task-block {
    margin: 10px auto 0;
    width: 50%;
    display: flex;
    justify-content: flex-end;
    .add-task-button {
        padding: 5px 10px;
        height: 30px;
        background: $submit-btn-color;
        border: solid 1px #000000;
        font-family: Oswald;

        &:disabled {
            background: $submit-disabled-color;
        }
    }
}

.task-list-page-wrapper {
    margin: 10px auto 0;
    padding: 20px;
    border: solid 1px #d0d3d6;
    border-radius: 5px;
    width: 50%;
    background-color: #fbfdff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

    .link-wrapper {
        margin: 0 auto;
        padding: 7px;
        border: solid 1px #828486;
        border-top: 0;
        background-color: #f7f7f7;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;

        &:first-child {
            border-top: solid 1px #828486;
        }

        .task-link {
            text-decoration: none;
            font-weight: none;
            font-size: 20px;
            color: #000000;

            &:hover,
            &:active {
                color: #ff0000;
            }
        }

        .delete-button {
            font-weight: none;
            color: #BD5656;
            border: none;
            font-size: 15px;
            background-color: #f7f7f7;

            &:hover,
            &:active {
                color: #a00000;
                text-shadow: 0px 0px 1px #ff0000;
            }
        }
    }
}