<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Course list</title>
  </head>
  <body>
    <h1>Courses list</h1>
    <br />
    <center>
      <table border="2px" width="90%">
        <% courses.forEach(function(course){ %>
        <tr>
          <td><%= course.courseName %></td>
          <td><%= course.courseDescription %></td>
          <% }); %>
        </tr>
      </table>
    </center>
    <br />
    <a href="/add-course">Add new course</a> 
    <br />
    <a href="/">Main page</a>
  </body>
</html>
