<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Statuses list</title>
  </head>
  <body>
    <h1>Statuses list</h1>
    <br />
    <center>
      <table border="2px" width="90%">
        <% statuses.forEach(function(status){ %>
        <tr>
          <td><%= status.statusName %></td>
          <% }); %>
        </tr>
      </table>
    </center>
    <br />
    <form method="POST" action="status">
      <input
        type="text"
        id="addStatusForm1"
        name="status_name"
        placeholder="Enter status name"
      />
      <button type="submit">Submit!</button>
    </form>
    <br />
    <form method="DELETE" action="status">
      <input
        type="text"
        id="deleteStatusForm1"
        name="status_name"
        placeholder="Enter status name"
      />
      <button type="submit" onclick="">Delete!</button>
    </form>
    <br />
    <a href="/">Main page</a>
  </body>
</html>
