<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Task list</title>
  </head>
  <body>
    <h1>Task list</h1>
    <br />
    <center>
      <table border="2px" width="90%">
        <% tasks.forEach(function(task){ %>
        <tr>
          <td><%= task.taskName %></td>
          <td><%= task.taskDescription %></td>
          <% }); %>
        </tr>
      </table>
    </center>
    <br />
    <a href="/add-task">Add new task</a>
    <br />
    <a href="/">Main page</a>
  </body>
</html>
