@import '../../../constants/application-colors.scss';

.course-wrapper {
    display: flex;
    flex-flow: row nowrap;
    margin: 20px auto 0;
    padding: 20px;
    border: solid 1px #d0d3d6;
    border-radius: 5px;
    width: 100%;
    min-width: 700px;
    background-color: #fbfdff;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.course-page-wrapper{
    min-width: 700px;
}

.add-user-block {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    height: 50px;
    align-items: center;
    .add-user-wrapper{
        display: flex;
        
    }
    input{
        display: block;
        width: 150px;
        height: 30px;
    }
    
    .add-user-button {
        padding: 5px 10px;
        height: 30px;
        background: $submit-btn-color;
        border: solid 1px #000000;
        font-family: Oswald;
        &:disabled{
            background: $submit-disabled-color;
        }
    }
}